
logs
project/project
project/target
target
lib_managed
tmp
.history
.pytest_cache
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
__pycache__
node_modules/
npm-debug.log
venv
.venv
.mypy_cache
.vscode
.coverage
yarn-debug.log
yarn-error.log
